.attribution {
    font-size: 11px;
    text-align: center;
  }
  
  .attribution a {
    color: hsl(228, 45%, 44%);
  }
  
  body {
      font-size: 15px;
  }
  
  .qr-code-card {
    margin: auto;
      width: 25%;
  }

  img {
    width: 100%;
  }
  
  