@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Outfit:wght@400;700&display=swap");

body {
  font-size: 15px;
  font-family: "Outfit", sans-serif;
  background-color: hsl(212, 45%, 89%);
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 1rem;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.qr-code-card {
  width: 17rem;
  margin: auto;
  border-radius: 1rem;
  padding: 1rem 1rem 2rem;
  background-color: hsl(0, 0%, 100%);
}

.qr-code img {
  width: 100%;
  border-radius: 1rem;
}

.qr-title {
  font-weight: 700;
  text-align: center;
}

.qr-paragraph {
  font-weight: 400;
  text-align: center;
  color: hsl(220, 15%, 55%);
}

@media screen and (max-width: 375px) {
  .attribution {
    margin-top: 0.5rem;
  }

  .qr-code-card {
    width: 14rem;
    border-radius: 0.7rem;
    padding: 0.7rem 0.7rem 1.5rem;
  }

  .qr-code img {
    border-radius: 0.7rem;
  }
}
